#chat-screen{
    background-color: rgb(171,193,209);
    height: 500vh;
    width: 100%;
}
#chat-screen .alt-header {
    position: fixed;
    top:0;
    width: 100%;
    height: 60px;   
    background-color:  rgb(171,193,209);
    z-index: 1;
    box-sizing: border-box;
    margin-top:12px;
    width: 100%;
    
}
#chat-screen .status-bar {
    background-color:  rgb(171,193,209);
    z-index: 2;
    width: 100%;
}
@keyframes fadein{
    from{
        transform: translateY(20px);
        opacity: 0;

    }
    to{
        transform:none;
        opacity: 1;
    }


}
.main-chat {
    margin-top:120px ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    animation: fadein 0.8s linear forwards ;
    
}

.chat__timestamp{
    color:white;
    font-size: 14px;
    background-color: rgba(73, 73, 73, 0.2);
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.message-row {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    box-sizing: border-box;
}
.message-row--own {
    
    justify-content: flex-end;
    
    
}
.message-row> img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
}

.message__auuthor {
    display: inline-block;
    margin: 5px;
    color:rgb(116,116,116) ;
    font-size: 14px;
    font-weight: 600;
}
.message__bubble {
    display: block;
    background-color: white;
    padding: 8px 13px;
    border-radius: 10px;
    border-top-left-radius: 0px;
}
.message-row--own .message__bubble{
background-color: var(--yellow);
border-top-right-radius: 0px;
border-top-left-radius: 10px;

}
.message__info {
    display: flex;
    align-items: flex-end;
}
.message-row--own .message__info{
    flex-direction: row-reverse;
}

.message__time {
    font-size: 11px;
    color:rgb(116,116,116);
    margin: 0 5px;
}

.reply{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 25px;    
    box-sizing: border-box;
    height: 50px;
    transition: all 0.3s ease-in-out;
}
.reply input {
    border-radius: 20px;
    border:var(--main-border);
    width: 100%;
    padding:10px;
    transition:all 0.3s ease-in-out ;
    
    
}
.reply input::placeholder {

     color: rgba(0,0,0,0.2);
}
.reply__column:first-child{
    width: 10%;
}
.reply__column:last-child {
    width: 90%;
    position: relative;
}
.reply__column:last-child >i, button {
    position: absolute;
    right: 0;
    top:8px;
}
.reply__column:last-child >i {
    right: 30px;
    display: flex;
    
}
.reply__column:last-child > button {
    background-color: var(--yellow);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top:3px;
    right: -18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reply__column:last-child > button:focus,
.reply__column:last-child > button:active{
    outline:none;
}
.reply__column > i {
    font-size:1.7rem;
    color: rgb(156, 156, 156);
}
.message__infoimg> img{
    margin-top: 30px;
    width: 200px;
    height:250px ;
    border-radius: 10px;
}
.reply .reply__column:first-child,
.reply.fa-smile,
.reply button {
    transition: all 0.3s ease-in-out;
}


.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button
{
opacity: 0;
visibility: hidden;
}

.reply:focus-within{
    transform: translateY(80px);
}
.reply:focus-within  input{
    width: 88vw;
    transform: translateX(-12%)translateY(-80px);
    }